/* INIZIO RESET */
*   {


  padding: 0;
  margin: 0;
  box-sizing: border-box;


}
/* FINE RESET */


/* INIZIO REGOLE GENERALI */
html   {


  font-size: 15px;


}



body   {


  background-color: #b91750;
  font-family: sans-serif;
  padding-top: 5px;


}



h1   {


  margin-bottom: 15px;


}



h1,
h2   {


  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;


}



h3   {


  text-transform: uppercase;
  font-size: 1.1em;


}



h4 {


  word-break: break-all;


}



input, select   {


  border: 2px solid #cd235f;
  border-radius: 4px;
  padding: 3px;
	width: 150px;
	height: 30px;


}



input:focus,
select:focus   {


  background-color: #b91750;
  color: white;


}



input   {


  text-align: center;


}



button   {


	padding: 5px;
	border-radius: 4px;
	font-weight: bolder;
	background-color: #d5cdd3;
  border-color: darkgrey;
	color: #b91750;
  cursor: pointer;


}



button:hover   {


  background-color: #7d7c7d;
	color: white;


}



button:focus   {


  box-shadow: 0px 0px 5px 0px #cd235f;


}



/** inizio regole generali sezioni **/
section   {


  width: 80%;
  margin: auto;
  margin-bottom: 15px;


}



section > div:first-of-type   {


  padding-top: 15px;
  padding-bottom: 15px;


}
/** fine regole generali sezioni **/
/* FINE REGOLE GENERALI */



/* INIZIO PRIMA SEZIONE */
section.calcola > .interfaccia   {


  height: 150px;
  background-color: white;
  padding-left: 25%;
  padding-right: 25%;
  border-radius: 7.5px;
  box-shadow: 3px 15px 15px 3px rgba(0,0,0,0.31);
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.31);
  -moz-box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.31);

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


}



.interfaccia label   {


  display: block;
  margin-bottom: 15px;
  color: #b91750;
  font-size: 0.8em;
  font-weight: bold;


}



.interfaccia >
.form-nome,
.form-km,
.form-eta   {


  flex-basis: calc(100% / 3);
  text-align: center;


}



.interfaccia > .eventi   {


  margin-top: auto;


}
/* FINE PRIMA SEZIONE */



/* INIZIO SECONDA SEZIONE */
section.tuo-biglietto > .biglietto-generato   {


  background-color: white;
  padding-left: 15px;
  padding-right: 15px;


}



.biglietto-generato > .dati-passeggero   {


  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  display: flex;
  justify-content: flex-start;


}



.dati-passeggero .nome   {


  height: 100px;
  background-color: grey;
  max-width: 70%;


}



.dati-passeggero div:nth-child(1n+1)   {


  padding: 18px;

  display: flex;
  flex-direction: column;


}



.dati-passeggero  div span:nth-child(1n+1)  {


  margin-top: auto;


}
/* FINE SECONDA SEZIONE */




/* CLASSI DI APPOGGIO PER JS*/
.hidden   {


  display: none;


}



.visible   {


  display: block;


}
